<footer id="footer" class="main-footer">
<div class="row">
  <div class="col-6">
    <div>2022 <a href="/privacy">Privacy Policy</a></div>
  </div>
  <ul class="col-6">
    <li>
      <a target="_blank" href="https://linkedin.com/in/lucasfogliarini" role="button"><fa-icon [icon]="['fab','linkedin']"></fa-icon></a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/lucasfogliarini/" role="button"><fa-icon [icon]="['fab','github']"></fa-icon></a>
    </li>
    <li>
      <a target="_blank" href="https://www.instagram.com/lucasfogliarini/" role="button"><fa-icon [icon]="['fab','instagram']"></fa-icon></a>
    </li>
  </ul>
</div>
</footer>