<footer id="footer" class="main-footer">
  <nav class="navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <!--<li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><fa-icon [icon]="['fas','bars']"></fa-icon></a>
      </li>-->
      <!--<li class="nav-item">//link não funciona
        <a class="nav-link" href="/#/privacy" role="button"><small>{{year}} Termos</small></a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://discord.gg/Yf4TCsSTG5" role="button"><fa-icon [icon]="['fab','discord']"></fa-icon></a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" target="_blank" href="https://linkedin.com/in/lucasfogliarini" role="button"><fa-icon [icon]="['fab','linkedin']"></fa-icon></a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" target="_blank" href="https://github.com/lucasfogliarini/" role="button"><fa-icon [icon]="['fab','github']"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://www.instagram.com/bora.cowork/" role="button"><fa-icon [icon]="['fab','instagram']"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/" role="button"><fa-icon [icon]="['fas','earth-americas']"></fa-icon></a>
      </li>
    </ul>
  </nav>
</footer>