<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" role="button" class="brand-link">
    &nbsp;
    &nbsp;
    <span class="brand-text font-weight-light">{{title}}</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div *ngIf="authService.user" class="user-panel mt-3 pb-3 mb-3 d-flex"
        mwlConfirmationPopover
        popoverTitle="Perfil"
        popoverMessage="<b>Edite</b> ou Abra seu perfil de <b>Parceiro da Túnel Criativo</b>"
        placement="bottom"
        confirmText="Editar"
        cancelText="Abrir"
        (confirm)="openUser(true)"
        (cancel)="openUser()"
        role="button">
      <div class="image">
        <img src="{{ authService.user.photoUrl }}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a role="button">{{ authService.user.name }} <fa-icon (click)="authService.signOut()" title="Sair" [icon]="['fas','sign-out-alt']"></fa-icon></a>        
      </div>
    </div>
    <div *ngIf="!authService.user" class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <asl-google-signin-button #googleButton [hidden]="false"></asl-google-signin-button>
      </div>
    </div>
  </div>
  <!-- /.sidebar -->
</aside>