<nav id="events-nav" class="row" style="border-bottom: 1px solid rgb(216, 208, 208)">
  <div class="col-9"></div>
  <input id="eventsQuery" (input)="getEvents()" [(ngModel)]="eventsQuery" type="text" placeholder="Pesquise ... 'tech', 'parceiros', 'bora', ..." class="ml-1 col-5" />
  <fa-icon role="button" [hidden]="!isBoraWork()" (click)="getParceiros()" title="Sócios" class="m-1 col-1" [icon]="['fas','handshake']"></fa-icon>
  <fa-icon role="button" [hidden]="!isBoraWork()" (click)="getTech()" title="Tech" class="m-1 col-1" [icon]="['fas','laptop-code']"></fa-icon>
  <fa-icon role="button" [hidden]="!isBoraWork()" (click)="getSocios()" title="Parceiros" class="m-1 col-1" [icon]="['fas','money-bill-trend-up']"></fa-icon>
  <fa-icon role="button" [hidden]="isBoraWork()" (click)="getJogatina()" title="Bora Xadrez e Jogatina" class="m-1 col-1" [icon]="['fas','chess-king']"></fa-icon>
  <fa-icon role="button" [hidden]="isBoraWork()" (click)="getBirthdays()" title="Bora Celebrar" class="m-1 col-1" [icon]="['fas','cake-candles']"></fa-icon>
  <fa-icon role="button" [hidden]="isBoraWork()" (click)="getToasts()" title="Bora Brindar" class="m-1 col-1" [icon]="['fas','champagne-glasses']"></fa-icon>
  <fa-icon role="button" (click)="getEventsWithTicket()" title="Eventos com ingresso" class="m-1 col-1" [icon]="['fas','ticket']"></fa-icon>
  <fa-icon role="button" (click)="refreshEvents()" title="Todos os eventos" class="m-1 col-1" [icon]="['fas','arrows-rotate']"></fa-icon>
</nav>
<div *ngIf="eventMessage()" class="text-center m-2">
  <small>{{eventMessage()}}</small>
</div>

<div *ngIf="events">
  <div class="{{isSelectedClass(event)}}" (click)="selectEvent(event)" role="button" *ngFor="let event of events">
    <div [id]="'e'+event.id" class="event-details">
      <div id="image-and-buttons-public" [hidden]="!event.public" class="row">
        <img [hidden]="!event.expanded" class="background-image" src="../../assets/loading.gif" />
        <div *ngIf="event.expanded" class="event-buttons col-4 mt-3">
          <div class="row">
            <fa-icon [icon]="['fas', 'map-location-dot']" mwlConfirmationPopover
                title="Localização"
                popoverTitle="Abrir Google Maps?"
                placement="top"
                confirmText="Abrir"
                [popoverMessage]="getLocation(event)"
                (confirm)="openMaps(event.location)"
                [hideConfirmButton]="event.location ? false : true"
                role="button"
                class="col-6 float-right">
            </fa-icon>            
            <fa-icon [icon]="['fab', 'whatsapp']" mwlConfirmationPopover
              title="WhatsApp"
              popoverTitle="WhatsApp"
              popoverMessage="Compartilhar <b>{{event.title}}</b> no WhatsApp?"
              placement="left"
              confirmText="Compartilhar"
              (confirm)="shareWA(event)"
              cancelText="Copiar link"
              (cancel)="shareCopy(event)"
              role="button"
              class="col-5 float-right">
            </fa-icon>
          </div>
          <div class="row">
            <!--<div [hidden]="isConference(event) || event.ticketUrl" class="col-6"></div>-->
            <fa-icon [icon]="['fas', 'headset']" [hidden]="event.ticketUrl"
                mwlConfirmationPopover
                title="Canal"
                popoverTitle="Abrir Canal?"
                placement="bottom"
                confirmText="Abrir"
                [popoverMessage]="event.conferenceUrl!"
                (confirm)="openConference(event)"
                [hideConfirmButton]="event.location ? false : true"
                role="button"
                class="col-6 float-right">
            </fa-icon>
            <fa-icon [icon]="['fas', 'ticket']" [hidden]="!event.ticketUrl"
              mwlConfirmationPopover              
              title="Ingresso"
              popoverTitle="Ingresso"
              [popoverMessage]="ticket(event)"
              placement="bottom"
              confirmText="Ingressos"
              (confirm)="openUrl(event.ticketUrl!)"
              role="button"
              class="col-6 float-right">
            </fa-icon>            
            <input type="button" value="Bora!" *ngIf="!replied" mwlConfirmationPopover
              popoverClass='accounts'
              title="Convidados,  Bora?"
              popoverTitle="Convidados,  Bora?"
              [popoverMessage]="attendees(event)"
              placement="left"
              confirmText="Bora!"
              (confirm)="reply(event, 'accepted')"
              cancelText="Talvez"
              (cancel)="reply(event, 'tentative')"
              role="button"
              class="btn btn-block btn-dark col-6" />
            <fa-icon *ngIf="replied" [icon]="['fas', 'people-group']" mwlConfirmationPopover
              popoverClass='accounts'
              title="Convidados,  Bora?"
              popoverTitle="Convidados,  Bora?"
              [popoverMessage]="attendees(event)"
              placement="left"
              confirmText="Editar"
              (confirm)="replied = false"
              cancelText="Cancelar"
              role="button"
              [isOpen]="isSelected(event)"
              class="col-6">
            </fa-icon>
          </div>
        </div>
      </div>
      <div id="image-and-buttons-private" [hidden]="event.public"  class="row">
        <img [hidden]="!event.expanded" class="background-image" src="../../assets/privado.jpg" />
        <div *ngIf="event.expanded" class="event-buttons col-4 mt-5">
          <div class="row">
            <input (click)="replyPrivate(event)"
                  type="button"
                  value="Mas Onde?!"
                  class="btn btn-block btn-dark col-9 offset-1" />
          </div>
        </div>
      </div>
      <div id="date-title-location" class="row">
        <div class="date-time col-3">
          <div class="date" mwlConfirmationPopover
              title="Google Agenda"
              popoverTitle="Abrir no Google Agenda?"
              popoverMessage="<b>Abrir</b> no Google Agenda <br/><b>Privar</b> encontro"
              placement="right"
              confirmText="Abrir"
              cancelText="Privar"
              (confirm)="openCalendar(event)"
              (cancel)="privateEvent(event)"
              role="button">
              <div id="date-start">{{transformDate(event.start!)}}</div>
              <div id="dayOfWeek" [hidden]="isHappening(event.start!)">{{transformDateEE(event)}}</div>              
          </div>
          <div id="event-time" [hidden]="isHappening(event.start!)">
            <small id="event-start">{{transformTime(event.start!)}}</small>
            <br />
            
            <small id="event-start" style="font-size: xx-small;">{{formatTimeInterval(event)}} {{transformTime(event.end!)}}</small>
          </div>
        </div>
        <div class="title col-7">
          <div id="event-title">{{ event.title?.substring(0, 100) }}</div>
          <small id="event-description">{{ event.description?.substring(0, 100) }}</small>
          <br />
          <div [hidden]="isHappening(event.start!)" id="event-where">
            <small id="event-where-public" [hidden]="!event.public" style="font-size: xx-small;"><b>Onde? {{getLocation(event, 40)}}</b></small>
            <small id="event-where-private" [hidden]="event.public" style="font-size: xx-small;"><b>Onde? Só o bora sabe!</b></small>
          </div>
        </div>
        <div *ngIf="!event.expanded" class="event-buttons-collapsed col-1 mt-2">
          <fa-icon [icon]="['fas', 'people-group']" class="col-12"></fa-icon>
          <fa-icon [icon]="['fab', 'whatsapp']" class="col-12"></fa-icon>
          <fa-icon *ngIf="event.ticketUrl" [icon]="['fas', 'ticket']" class="col-12"></fa-icon>
          <fa-icon [icon]="['fas', 'map-location-dot']" class="col-12"></fa-icon>
        </div>
      </div>
      <!--
      <div *ngIf="event.expanded" class="row mt-3">
        <iframe *ngIf="event.spotifyUrl"
              class="spotify col-12"
                [src]="getSpotifyEmbedUrl(event)"
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
        </iframe>
       </div>
      -->
    </div>
    <hr/>
  </div>
</div>