.selected-event{
    font-weight: bold;
}

.event-details{
    font-size: 15px;
}

.event-buttons{
    font-size: 30px;
    text-align: center;
}

.title{
    font-family: sans-serif;
    padding: 10px 0px;
    text-align: center;
}

.event-details .background-image{
    overflow: hidden;
    height: 130px;
}