.background-image{
    overflow: hidden;
}
@media screen and (min-width: 320px){
    .background-image{
        overflow: hidden;
        max-width: 185px;
    }
}
@media screen and (min-width: 375px){
    .background-image{
        overflow: hidden;
        max-width: 220px;
    }
}
@media screen and (min-width: 425px){
    .background-image{
        overflow: hidden;
        max-width: 235px;
    }
}
@media screen and (min-width: 768px){
    .background-image{
        overflow: hidden;
        max-width: 440px;
    }
}
/*@media screen and (min-width: 1024px){
    .background-image{
        overflow: hidden;
        max-height: 420px;
    }
}*/

.event-details{
    font-size: 15px;
    padding: 0;
}

.event-buttons{
    font-size: 30px;
    text-align: center;
}

.event-buttons-collapsed{
    font-size: 10px;
    text-align: center;
}

.date-time{
    text-align: center;
    padding-top: 7px;
}

.spotify{
    border: 0;
    width: 100%;
    height: 85px;
}

.title{
    font-family: sans-serif;
    padding: 10px 0px;
}

.table td, .table tr{
    padding: 0px;
}

.selected-event{
    font-weight: bold;
}

hr{
    margin-bottom: 0;
    margin-top: 7px;
}