#event-create{
    position: fixed;
    bottom: 85px;
    right: 25px;
    z-index: 999;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#event-create #event-start{
    font-size: 50px;
    padding: 0px 7px;
}
#event-create #event-title, #event-create #event-location, #event-create #event-when{
    padding: 20px;
    background-color: white;
}

#event-create #title, #event-create #event-date{
    width: 220px;
}

#event-create #event-location input[type=search]{
    margin-top: 10px;
}

#event-create .buttonEvent{
    text-align: center;
    margin-top: 20px;
}