<nav id="bora-nav" class="navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/" role="button">
        <fa-icon [icon]="['fas','earth-americas']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Mapa</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://discord.gg/Yf4TCsSTG5" role="button">
        <fa-icon [icon]="['fab','discord']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Discord</small>
      </a>
    </li>
    <li  class="nav-item">
      <a class="nav-link" target="_blank" href="https://linkedin.com/in/lucasfogliarini" role="button">
        <fa-icon [icon]="['fab','linkedin']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Linkedin</small>
      </a>
    </li>
    <li  class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/lucasfogliarini/" role="button">
        <fa-icon [icon]="['fab','github']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Github</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.instagram.com/bora.workers/" role="button">
        <fa-icon [icon]="['fab','instagram']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Insta</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://chess.com/member/LucasFogliarini" role="button">
        <fa-icon [icon]="['fas','chess-king']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Chess</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        href="/bora.work"
        role="button">
        <fa-icon [icon]="['fas','hourglass-start']"></fa-icon>
        <br />
        <small style="font-size: xx-small;"><b>Bora?</b></small>
      </a>
    </li>
  </ul>
</nav>

<div class="row">
  <label *ngIf="news" class="col-9" style="font-size: small; color: gray;">
    {{news}}
  </label>
  <div id="boraGoogle" class="col-3">
    <div class="g_id_signin"
      data-type="standard"
      data-shape="pill"
      data-theme="filled_black"
      data-text="signin"
      data-size="small"
      data-locale="pt-BR"
      data-logo_alignment="left">
    </div>
    <div id="g_id_onload"
      data-client_id="1037813106930-vdf1p42ovuatjt5qvjbn4qtfq973tqos.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-auto_select="true"
      data-itp_support="true">
    </div>
  </div>
</div>

