<nav id="bora-nav" class="navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/" role="button">
        <fa-icon [icon]="['fas','earth-americas']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Mapa</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.instagram.com/bora.workers/" role="button">
        <fa-icon [icon]="['fab','instagram']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Insta</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://www.linkedin.com/company/bora-work/" role="button">
        <fa-icon [icon]="['fab','linkedin']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Linkedin</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://chat.whatsapp.com/I7ggwNVQp6I2yWCgMC9Evs" role="button">
        <fa-icon [icon]="['fab','whatsapp']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Comuna</small>
      </a>
    </li>
    <li  class="nav-item">
      <a class="nav-link" target="_blank" href="https://horizon.meta.com/profile/lucasfogliarini" role="button">
        <fa-icon [icon]="['fas','mask']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Meta</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://live.tribexr.com/" role="button">
        <fa-icon [icon]="['fas','headset']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Tribe</small>
      </a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" target="_blank" href="https://discord.gg/Yf4TCsSTG5" role="button">
        <fa-icon [icon]="['fab','discord']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Discord</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://twitch.tv/lucasfogliarini" role="button">
        <fa-icon [icon]="['fab','twitch']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Twitch</small>
      </a>
    </li>
    <li  class="nav-item">
      <a class="nav-link" target="_blank" href="https://linkedin.com/in/lucasfogliarini" role="button">
        <fa-icon [icon]="['fab','linkedin']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Linkedin</small>
      </a>
    </li>
    <li  class="nav-item">
      <a class="nav-link" target="_blank" href="https://github.com/lucasfogliarini/" role="button">
        <fa-icon [icon]="['fab','github']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Github</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://chess.com/member/LucasFogliarini" role="button">
        <fa-icon [icon]="['fas','chess-king']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Chess</small>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="_blank" href="https://vamo.atlassian.net/jira/people/team/0644e331-559d-4902-9cb5-d7f1577edb5e" role="button">
        <fa-icon [icon]="['fab','jira']"></fa-icon>
        <br />
        <small style="font-size: xx-small;">Jira</small>
      </a>
    </li>-->
    <li class="nav-item content">
      <a class="nav-link"
        popoverClass='partners'
        mwlConfirmationPopover
        value="Parcerias"
        title="Parcerias"
        popoverTitle="Parcerias"
        [popoverMessage]="partnersContent"
        placement="left"
        confirmText="Bora!"
        (confirm)="bePartner()"
        role="button">
        <fa-icon [icon]="['fas','user-doctor']"></fa-icon>
        <br />
        <small style="font-size: xx-small;"><b>Parcerias</b></small>
      </a>
    </li>
  </ul>
</nav>

<div class="row mb-2">
  <label *ngIf="news" class="col-6" style="font-size: small; color: gray;">
    {{news}}
  </label>
  <div id="profile" class="col-6" role="button">
    <div class="float-right mr-3">
      <div id="notLogged" [hidden]="this.authService.getAccount()">
        <asl-google-signin-button
            class="float-right"
            text="continue_with"
            type="standard"
            size="small"
            theme="filled_black"
            shape="circle"
        >
        </asl-google-signin-button>
        <br>
        <div #logar class="col-5"
            mwlConfirmationPopover
            popoverTitle="Logue e ative Parceria"
            popoverMessage="1. Clique em <b>Continuar com o Google</b> <br /> 
            2. Logue-se na sua conta <b>Google</b>. <br />
            3. Clique na <b>engrenagem</b> e depois no botão <b>Ativar</b> (Parceria) <br />
            4. <b>Prospere!</b>"
            placement="bottom"
            confirmText="Ok">
      </div>
      </div>
      <div id="logged" [hidden]="!this.authService.getAccount()" class="row">
        <a href="/{{this.authService.getAccount()?.username}}" class="col-6">
          <small>{{this.authService.getAccount()?.username}}</small>
        </a>
        <div #profileGear class="col-6"
          mwlConfirmationPopover
          popoverTitle="Conta {{userType}}"
          [popoverMessage]="partnership"
          placement="left"
          confirmText="{{togglePartnershipText}}"
          popoverClass="profile"
          (confirm)="togglePartnership()"
          cancelText="Deslogar"
          (cancel)="authService.signOut()"
          title="Conta {{userType}}">
          <img [src]="this.authService.getAccount()?.photo"
              class="img-circle image elevation-2 mr-1"
              alt="Imagem de Perfil"
              style="width: 30px;">
          <fa-icon [icon]="['fas','gear']"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>

