<div class="whatsappButton"
    mwlConfirmationPopover
    title="Contato por Whatsapp"
    popoverTitle="Contato por Whatsapp"
    popoverMessage="Clique em <b>WhatsApp</b>, se você deseja: <br /> - Conhecer {{env.appDefiniteArticle}} <b>{{env.appName}}</b> <br /> - Ser <b>{{env.mainRole}} d{{env.appDefiniteArticle}} {{env.appName}}</b> <br /> - Relatar um problema"
    placement="left"
    confirmText="WhatsApp"
    (confirm)="open()"
    role="button">
  <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
</div>