@import "~admin-lte/dist/css/adminlte.min.css";
@import "~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css";
@import "~ngx-toastr/toastr.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

.content a{
    color: inherit;
    text-decoration: underline;
}

#cdk-overlay-0 { /*owl-date-time overlay*/
    top: 230px !important;
    left: 40px !important;
}

app-contact .popover{
	position: fixed !important;
    top: -70px !important;
}

app-events .event-buttons img{
    width: 25px;
    border-radius: 12px;
    margin-bottom: 5px;
}

app-events .attendees .popover-body{
    width: 13rem !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
