@import "~admin-lte/dist/css/adminlte.min.css";
@import "~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css";
@import 'ngx-toastr/toastr';

.content a{
    color: inherit;
    text-decoration: underline;
}

#cdk-overlay-0 { /*owl-date-time overlay*/
    top: 230px !important;
    left: 40px !important;
}

app-nav-menu .profile {
    top: 145px !important;
}

app-nav-menu .coworkings {
    top: 120px !important;
}

app-nav-menu .culture {
    top: 0px !important;
    left: 20px !important;
}

app-nav-menu .education {
    top: 0px !important;
    left: 0px !important;
}

app-nav-menu .management {
    top: 0px !important;
}

app-nav-menu .techs {
    top: 0px !important;
    left: -60px !important;
}

app-nav-menu .sales {
    top: 0px !important;
    left: -60px !important;
}

app-nav-menu .businessPartners {
    top: 120px !important;
}

app-nav-menu .partners .popover-body{
    width: 250px !important;
}

app-nav-menu .partners small{
    font-size: xx-small
}

app-contact .popover{
	position: fixed !important;
    top: -70px !important;
}

.popover-body{
    width: 250px;
}

.popover-body img{
    width: 25px;
    border-radius: 12px;
    margin-bottom: 5px;
}


html, body { height: 100%; }

#credential_picker_iframe{
    display: none;
}
