@import "~admin-lte/dist/css/adminlte.min.css";
@import "~admin-lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css";
@import "~ngx-toastr/toastr.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

.table td, .table tr{
    padding: 3px;
}

.content a{
    color: inherit;
    text-decoration: underline;
}
#start{
    width: 160px;
}

.selectedEvent .date{
    font-size: 15px;
    font-weight: bold;
}
.selectedEvent .title{
    font-size: 23px;
    font-weight: bold;
}

app-events td fa-icon{
    display: block;
}