#home{
  text-align: center;
}

#hero{
  background:linear-gradient(45deg, rgb(255, 255, 255) 0%, rgba(0, 0, 0, 0.23) 100%);
}

#hero h1{
  padding-top: 40px;
  font-size: 28pt;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 17px;
  white-space: pre-line;
}

#smartphones{
  overflow: hidden;
  max-height: 370px;
}

#smartphones .pdxItem{
  transform: scale(.7);
  max-width: 500px;
}

#feature .ft-content{
  padding: 30px;
  width: 100%;
}

#feature h2{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3em;
}

#feature .ft_subtitle{
  font-size: 20px;
}
#features .ft-point{
  margin-top: 30px;
  display: flex;
}

#features .ft-point-meta{
  flex-direction: column;
  text-align: left;
}

#features h3{
  margin: 0;
  font-size: 1.25em;
  font-weight: 500;
}

#features p{
  font-size: 1.15em;
}

#features .icon{
  height:32px;
  width:32px;
  margin-right: 15px;
  margin-top: 4px;
}

.btn {
  text-align: center;
  display: inline-flex;
  position: relative;
  background: #eee;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
  padding: 0.7em 0.8em;
  line-height: 1;
  color: var(--color);
  border: none;
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 1.05em;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.btn span {
  text-decoration: none;
}

.btn--large {
  font-size: 1.2em;
}

.btn svg:first-child {
  margin-right: 0.4em;
}

.btn svg:last-child {
  margin-left: 0.4em;
}

.btn:hover {
  text-decoration: none;
}

.btn:hover span {
  text-decoration: none;
}

.btn {
  font-size: 16px;
  color: rgb(0, 0, 0);
  background: transparent;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px 1px, 0px 1px 2px 0px rgba(0, 0, 0, .171);
  padding: nullem nullem;
}

.btn.primary {
  color: #fff;
  background: rgb(0, 0, 0);
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .171);
  padding: nullem nullem;
}

.btn:hover {
  background: transparent;
  border: none;
  box-shadow: inset 0px 0px 0px 1px, 0px 4px 10px 0px rgba(50, 50, 93, .226), 0px 1px 3px 0px rgba(0, 0, 0, .08);
  padding: nullem nullem;
}

.btn.primary:hover {
  background: rgb(0, 0, 0);
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(50, 50, 93, .226), 0px 1px 3px 0px rgba(0, 0, 0, .08);
  padding: nullem nullem;
}