.pdxItem {
    position: relative;
    z-index: 4
}

.pdxContent {
    position: absolute;
    overflow: hidden
}

.pdxItem--smartphones{
    transform: scale(.7);
    width: 100%;
    max-height: 540px;
    max-width: 500px;
}

@media screen and (min-width: 1000px){
    .pdxItem--smartphones{
        margin-left: 200px;
        max-width: 350px;
    }
}

@media screen and (min-width: 1440px){
    .pdxItem--smartphones{
        max-width: 350px;
        margin-left: 455px;
    }
}

.pdxItem--smartphones>.pdxContent {
    top: 2.1%;
    left: 4.4%;
    right: 4.4%;
    bottom: 2.1%;
    border-radius: 28px
}

.pdxContent img,
.pdxContent video {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top
}