<section class="content">
  <p *ngIf="!account"><em>Carregando ...</em></p>
  <div class="card">
    <div class="card-header">
      <nav class="navbar navbar-expand">
        <ul *ngIf="account?.id" class="navbar-nav">
          <li class="image">
            <img  style="width: 75px" src="{{account.photo}}" class="img-circle elevation-2" alt="User Image">
          </li>
          <li *ngIf="account.whatsApp">
            <a class="nav-link" target="_blank" href="https://api.whatsapp.com/send/?phone={{account.whatsApp}}&text=Bora fazer!" role="button"><fa-icon [icon]="['fab','whatsapp']"></fa-icon></a>      
          </li>
          <li *ngIf="account.instagram">
            <a class="nav-link" target="_blank" href="https://instagram.com/{{account.instagram}}" role="button"><fa-icon [icon]="['fab','instagram']"></fa-icon></a>
          </li>
          <li *ngIf="account.spotify">
            <a class="nav-link" target="_blank" href="https://open.spotify.com/user/{{account.spotify}}" role="button"><fa-icon [icon]="['fab','spotify']"></fa-icon></a>
          </li>
        </ul>
        <h3 *ngIf="!account">Usuário não encontrado</h3>
      </nav>
    </div>
    <div class="card-body p-0">
      <app-events></app-events>
    </div>
  </div>
</section>
<app-event-create *ngIf="account?.calendarAuthorized"></app-event-create>
