<section id="account" class="content">
  <div class="card">
    <div class="card-header">
      <nav class="navbar navbar-expand">
        <ul *ngIf="account?.id" class="navbar-nav">
          <li *ngIf="account.photo" class="image">
            <a href="{{account.username}}"><img style="width: 50px" [src]="account.photo" class="img-circle elevation-2" alt="User Image"></a>
          </li>
          <li *ngIf="account.instagram" title="open.spotify.com">
            <a class="nav-link" target="_blank" href="https://instagram.com/{{account.instagram}}" role="button"><fa-icon [icon]="['fab','instagram']"></fa-icon></a>
          </li>
          <li *ngIf="account.linkedin" title="linkedin.com">
            <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/{{account.linkedin}}" role="button"><fa-icon [icon]="['fab','linkedin']"></fa-icon></a>
          </li>
          <li *ngIf="account.youTube" title="youtube.com">
            <a class="nav-link" target="_blank" href="https://www.youtube.com/{{account.youTube}}" role="button"><fa-icon [icon]="['fab','youtube']"></fa-icon></a>
          </li>
          <li *ngIf="account.spotify" title="spotify.com/user/">
            <a class="nav-link" target="_blank" href="https://open.spotify.com/user/{{account.spotify}}" role="button"><fa-icon [icon]="['fab','spotify']"></fa-icon></a>
          </li>
          <li *ngIf="account.whatsApp" title="api.whatsapp.com/send/">
            <a class="nav-link" target="_blank" href="https://api.whatsapp.com/send/?phone=55{{account.whatsApp}}&text=Oi {{account.name}}, bora trabalhar juntos?" role="button"><fa-icon [icon]="['fab','whatsapp']"></fa-icon></a>
          </li>
          <li *ngIf="account.chess" title="chess.com/member/">
            <a class="nav-link" target="_blank" href="https://chess.com/member/{{account.chess}}" role="button"><fa-icon [icon]="['fas','chess-knight']"></fa-icon></a>
          </li>
        </ul>
      </nav>
      <h3 *ngIf="!account">Usuário não encontrado</h3>
      <div class="row">
        <small class="col-5" style="font-family: system-ui;">{{account.accountability}}</small>
        <div class="row col-7">
          <!--<fa-icon class="col-2" [icon]="['fas','backward']"
                  [hidden]="!pastObserversMessage || !account.calendarAuthorized"
                  mwlConfirmationPopover
                  popoverClass='attendees'
                  title="Quem foi nos últimos 14 dias"
                  popoverTitle="Quem foi nos últimos 14 dias"
                  [popoverMessage]="pastObserversMessage!"
                  placement="bottom"
                  confirmText="Ok"
                  [hideCancelButton]="true"
                  role="button">
          </fa-icon>-->
          <fa-icon class="col-9" [icon]="['fas','forward']"
                  [hidden]="!futureObserversMessage"
                  mwlConfirmationPopover
                  popoverClass='attendees'
                  title="Quem vai nos próximos 14 dias"
                  popoverTitle="Quem vai nos próximos 14 dias"
                  [popoverMessage]="futureObserversMessage!"
                  placement="bottom"
                  confirmText="Ok"
                  [hideCancelButton]="true"
                  role="button">
          </fa-icon>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <app-events></app-events>
    </div>
  </div>
</section>

<app-event-create *ngIf="account?.calendarAuthorized && account.isPartner" ></app-event-create>
