<section id="account" class="content">
  <div class="card">
    <div class="card-header">
      <nav *ngIf="!editing" class="navbar navbar-expand">
        <ul *ngIf="account?.id" class="navbar-nav">
          <li *ngIf="account.photo" class="image">
            <img style="width: 50px" [src]="account.photo" class="img-circle elevation-2" alt="User Image">
          </li>
          <li *ngIf="account.whatsApp">
            <a class="nav-link" target="_blank" href="https://api.whatsapp.com/send/?phone=55{{account.whatsApp}}&text=Oi {{account.name}}, te encontrei no {{env.appName}} … bora fazer algo?" role="button"><fa-icon [icon]="['fab','whatsapp']"></fa-icon></a>
          </li>
          <li *ngIf="account.instagram">
            <a class="nav-link" target="_blank" href="https://instagram.com/{{account.instagram}}" role="button"><fa-icon [icon]="['fab','instagram']"></fa-icon></a>
          </li>
          <li *ngIf="account.linkedin">
            <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/{{account.linkedin}}" role="button"><fa-icon [icon]="['fab','linkedin']"></fa-icon></a>
          </li>
          <li *ngIf="account.spotify">
            <a class="nav-link" target="_blank" href="https://open.spotify.com/user/{{account.spotify}}" role="button"><fa-icon [icon]="['fab','spotify']"></fa-icon></a>
          </li>
          <li *ngIf="account.youTube">
            <a class="nav-link" target="_blank" href="https://www.youtube.com/channel/{{account.youTube}}" role="button"><fa-icon [icon]="['fab','youtube']"></fa-icon></a>
          </li>
        </ul>
      </nav>
      <h3 *ngIf="!account">Usuário não encontrado</h3>
      <div id="editing-account" *ngIf="editing">
        <div class="d-flex mb-2">
          <fa-icon class="mr-2" [icon]="['fas','comments']"></fa-icon>
          <div class="custom-control custom-switch mt-2">
            <input id="partnership" (change)="changePartnership()" [(ngModel)]="account.isPartner" type="checkbox" class="custom-control-input">
            <label *ngIf="account.isPartner" class="custom-control-label" for="partnership">
                {{env.mainRole}}
                <small *ngIf="!authService.account.calendarAuthorized">, com Agenda e Catálogo?</small>
            </label>
            <label *ngIf="!account.isPartner" class="custom-control-label" for="partnership">
                {{env.secondRole}}
                <small>👉 pra ser <b>{{env.mainRole}}</b></small>
            </label>
          </div>
        </div>
        <div *ngIf="authService.account.calendarAuthorized != undefined && account.isPartner" class="d-flex mb-2">
          <fa-icon class="mr-2" [icon]="['fas','calendar-day']"></fa-icon>
          <button *ngIf="!authService.account.calendarAuthorized" (click)="authService.authorizeCalendar()" class="btn-success btn form-control">Autorizar Google Agenda</button>
          <button *ngIf="authService.account.calendarAuthorized" 
              mwlConfirmationPopover
              title="Desautorizar Google Agenda"
              popoverTitle="Desautorizar Google Agenda"
              popoverMessage="Clique em confirmar para <b>desautorizar leitura e criação de encontros</b> na sua agenda. <br /><br /> {{whyRevokeCalendar()}}"
              placement="bottom"
              (confirm)="unauthorizeCalendar()"
              class="btn-secondary btn form-control">Desautorizar Google Agenda</button>
        </div>
        <div class="d-flex mb-2">
          <fa-icon class="mr-2" [icon]="['fas','user']"></fa-icon>
          <input [(ngModel)]="account.name" type="text" class="form-control input-sm" placeholder="Nome" />
        </div>
        <div class="d-flex mb-2">
          <fa-icon class="mr-2" [icon]="['fab','whatsapp']"></fa-icon>
          <input [(ngModel)]="account.whatsApp" type="number" class="form-control input-sm" placeholder="51987654321" />
        </div>
        <div class="d-flex mb-2">
          <fa-icon class="mr-2" [icon]="['fab','instagram']"></fa-icon>
          <input [(ngModel)]="account.instagram" type="text" class="form-control input-sm" placeholder="instagramUser" (keydown.space)="$event.preventDefault();" />
        </div>
        <div class="d-flex mb-2">
          <fa-icon class="mr-2" [icon]="['fas','book-open']"></fa-icon>
          <input [(ngModel)]="account.accountability" type="text" class="form-control input-sm" placeholder="Músico, Fotógrafo, Ator, Artista, ..."/>
        </div>
        <div class="d-flex mb-2">
          <fa-icon class="mr-2" [icon]="['fab','linkedin']"></fa-icon>
          <input [(ngModel)]="account.linkedin" type="text" class="form-control input-sm" placeholder="linkedinUser" (keydown.space)="$event.preventDefault();" />
        </div>
        <div class="d-flex mb-2">
          <fa-icon class="mr-2" [icon]="['fas','at']"></fa-icon>
          <input [(ngModel)]="account.username" type="text" class="form-control input-sm" placeholder="vamoUser" (keydown.space)="$event.preventDefault();" />
        </div>
        <div class="d-flex mb-2">
          <fa-icon class="mr-2" [icon]="['fab','spotify']"></fa-icon>
          <input [(ngModel)]="account.spotify" type="text" class="form-control input-sm" placeholder="spotifyUser" (keydown.space)="$event.preventDefault();" />
        </div>
        <div class="d-flex mb-2">
          <fa-icon class="mr-2" [icon]="['fas','camera']"></fa-icon>
          <button (click)="openGoogleConta()" class="btn btn-dark form-control">Alterar foto no Google</button>
        </div>
        <div *ngIf="account?.username == 'lucasfogliarini'" class="d-flex mb-2">
          <fa-icon class="mr-2" [icon]="['fas','camera-retro']"></fa-icon>
          <a href="/scenarios" class="btn btn-dark form-control">Cenários</a>
        </div>
        <button (click)="updateAccount()" class="btn-dark btn">Salvar</button>
        <button (click)="editing=false" class="btn-white btn">Cancelar</button>
      </div>
      <div class="row">
        <small class="col-5" style="font-family: system-ui;">{{account.accountability}}</small>
        <div class="row col-7">
          <fa-icon class="col-2" [icon]="['fas','backward']"
                  [hidden]="!pastObserversMessage || !account.calendarAuthorized"
                  mwlConfirmationPopover
                  popoverClass='attendees'
                  title="Quem foi nos últimos 14 dias"
                  popoverTitle="Quem foi nos últimos 14 dias"
                  [popoverMessage]="pastObserversMessage!"
                  placement="bottom"
                  confirmText="Ok"
                  [hideCancelButton]="true"
                  role="button">
          </fa-icon>
          <fa-icon class="col-9" [icon]="['fas','forward']"
                  [hidden]="!futureObserversMessage"
                  mwlConfirmationPopover
                  popoverClass='attendees'
                  title="Quem vai nos próximos 14 dias"
                  popoverTitle="Quem vai nos próximos 14 dias"
                  [popoverMessage]="futureObserversMessage!"
                  placement="bottom"
                  confirmText="Ok"
                  [hideCancelButton]="true"
                  role="button">
          </fa-icon>
          <fa-icon (click)="refreshEvents()" title="Atualizar eventos" class="col-1" [icon]="['fas','arrows-rotate']"></fa-icon>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <app-events></app-events>
    </div>
  </div>
</section>

<div id="partner-questions" *ngIf="account?.calendarAuthorized">
  <div *ngIf="account.isPartner && !account.partnerCommentsEnabled">
    <app-event-create></app-event-create>
    <fa-icon (click)="initEvent()" *ngIf="!inProgress()" id="bora" [icon]="['fas','comments']" role="button" class="col-6"></fa-icon>
  </div>
  <div *ngIf="account?.isPartner && account.partnerCommentsEnabled">
    <app-event-create></app-event-create>
    <app-event-comment></app-event-comment>
    <fa-icon *ngIf="!inProgress()" id="bora" [icon]="['fas','comments']" mwlConfirmationPopover
        title="Bora ..."
        popoverTitle="Bora ..."
        popoverMessage="Um <b>Encontro</b> ou um <b>Comentário</b> em um encontro <br /> <small>É necessário se autenticar no Google.</small>"
        placement="left"
        confirmText="Encontro"
        (confirm)="initEvent()"
        cancelText="Comentário"
        (cancel)="initComment()"
        role="button"
        class="col-6"></fa-icon>
  </div>
</div>
